<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <!--Servlet description startTime-->
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <!--Servlet description end-->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!--Filter description startTime-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>filters.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <servlet-name>controller</servlet-name>
    </filter-mapping>
    <!--Filter description end-->

    <!--Error jsp page startTime-->
    <error-page>
        <location>/pages/error.jsp</location>
    </error-page>
    <!--Error jsp page end-->

    <!--Start page description startTime-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--Start page description end-->
</web-app>